
body {
	font-family: airal, herlvetica;
	padding: 0;
    background-color: #ffffff;
}
.menu{
	list-style: none;
	padding: none;
	background: #F53838;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	border-radius: 50px;

}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 26px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #000000;
	transition: .5s ease;
	border-radius: 50px;
	cursor: pointer;
}

.tabla{
	background-color: white;
	padding: 16px 45px;
	border: none;
	background-size: 100%;
	transition: .5s ease;
	position: relative;
	top: 80px;
	right: -27%;
	border-radius: 50px;
}

footer{
	background-color: #828581;
	width: 39%;
}

.urls a{
	position: relative;
	right: -34%;
	color: white;
}